{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 justify-content-center">
  {% for pet in pets %}
  <div class="col-auto mb-3 card-deck">
    <div class="card shadow-sm h-100" style="width: 18rem;">
      <a href="/{{pet.id}}">
        {% if pet.photo_url %}
        <img src="{{pet.photo_url}}" class="card-img-top">
        {% else %}
        <img src="static/default_photo.jpg" class="card-img-top">
        {% endif %}
      </a>
      <div class="card-body">
        <h5 class="card-title">{{pet.name}}</h5>
        <p class="card-text">{{pet.notes}}</p>
      </div>
      <div class="card-body text-center">
        {% if pet.availability == True %}
        <a href="/{{pet.id}}" class="btn btn-success"><span class="fw-bold">Available</span> for Adoption</a>
        {% else %}
        <a href="/{{pet.id}}" class="btn btn-secondary">Unavailable for Adoption</a>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}