{% extends "base.html" %}
{% block title %}{{pet.name}}{% endblock %}

{% block content %}
<div class="row row-cols-md-2 gy-4">
  <div class="col-md-5">
    <div class="border shadow-sm rounded text-center p-3 h-100">
      <h1 class="mb-4">{{pet.name}}</h1>
      {% if pet.photo_url %}
      <img src="{{pet.photo_url}}" class="img-fluid">
      {% else %}
      <img src="static/default_photo.jpg" class="img-fluid">
      {% endif %}
    </div>
  </div>
  <div class="col-md-7">
    <div class="border shadow-sm rounded p-3 h-100">
      <div class="d-flex justify-content-around mb-2">
        <div class="fs-3"><span class="fw-bold">Age:</span> {{pet.age}}</div>
        <div class="fs-3"><span class="fw-bold">Species:</span> {{pet.species}}</div>
      </div>
      <div>
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="d-none">
            {{form.age.label}}
            {{form.age}}
            {{form.name.label}}
            {{form.name}}
            {{form.species.label}}
            {{form.species}}
          </div>
          <div class="mb-3">
            {{form.photo_url.label(class_="form-label")}}
            {% if form.photo_url.errors %}
            {{form.photo_url(class_="form-control is-invalid")}}
            {% for err in form.photo_url.errors %}
            <small class="invalid-feedback">{{err}}</small>
            {% endfor %}
            {% else %}
            {{form.photo_url(class_="form-control")}}
            {% endif%}
          </div>
          <div class="mb-3">
            {{form.notes.label(class_="form-label")}}
            {% if form.notes.errors %}
            {{form.notes(class_="form-control is-invalid")}}
            {% for err in form.notes.errors %}
            <small class="form-text text-danger">{{err}}</small>
            {% endfor %}
            {% else %}
            {{form.notes(class_="form-control")}}
            {% endif%}
          </div>
          <div class="mb-3 form-check form-switch">
            {{form.availability.label(class_="form-check-label")}}
            {{form.availability(class_="form-check-input")}}
          </div>
          <button class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}