<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h1>{{pet.name}}</h1>
        <img src="{{pet.photo_url}}">
      </div>
      <div class="col-8">
        <div class="d-flex justify-content-around mb-5">
          <div>Age: {{pet.age}}</div>
          <div>Species: {{pet.species}}</div>
        </div>
        <div>
          <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3 input-group">
              {{form.photo_url.label(class_="input-group-text")}}
              {{form.photo_url(class_="form-control")}}
            </div>
            <div class="mb-3 input-group">
              {{form.notes.label(class_="input-group-text")}}
              {{form.notes(class_="form-control")}}
            </div>

            <div class="mb-3 form-check form-switch">
              {{form.availability.label(class_="form-check-label")}}
              {{form.availability(class_="form-check-input")}}
            </div>
            <button class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>

    </div>

  </div>
</body>

</html>